<!-- /sections/footer.liquid -->
<div data-section-id="{{section.id}}" data-section-type="footer">
<footer class="site-footer small--text-center medium-down--hide">
  <div class="wrapper">
    <div class="footer-content">
      <!-- Logo -->
      <div class="footer-logo" style="width: 30%;">
        <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
          {% if section.settings.logo %}
          <a href="/" itemprop="url" class="site-header__logo-image">
            {% capture image_size %}{{ section.settings.logo_max_width }}x80{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
          </a>
          {% else %}
          <a href="/">{{ shop.name }}</a>
          {% endif %}
        </div>
      </div>
      <!-- Navigation -->
      <ul class="site-nav in-footer"  id="AccessibleNavFooter" style="text-align: center">
        {% assign linklist = linklists[section.settings.linklist] %}
        {% for link in linklist.links %}
        {% comment %}
        Create a dropdown menu by naming a linklist the same as a link in the parent nav
        More info on dropdowns:
        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}

        <li {% if link.active %}class="site-nav--active"{% endif %}>
          <a href="{{ link.url }}" class="site-nav__link"><span class="hvr-underline-from-left">{{ link.title }}</span></a>
        </li>
        {% endfor %}
      </ul>
      <!-- Social Media -->
      {% include 'footer-social-media' %}

    </div>
      <div class="footer-copyright medium-down--hide">
  
 {{ powered_by_link }}
  <br>
  &copy; {{ 'now' | date: "%Y" }} {{shop.name}}.
</div>
  </div>
</footer>
</div>
<!-- //site-footer -->

{% schema %}
{
"name": "Footer",
"settings": [
  {
    "type": "header",
    "content": "Logo"
  },
  {
    "type": "image_picker",
    "id": "logo",
    "label": "Custom logo"
  },
  {
    "type":   "range",
    "id":     "logo_max_width",
    "min":       50,
    "max":       500,
    "step":      25,
    "label":     "Logo width",
    "default":   100
},
  {
    "type": "checkbox",
    "id": "footer_payments_enable",
    "label": "Show payment icons"
  },
  {
    "type": "link_list",
    "id": "linklist",
    "label": "Footer menu",
    "default": "footer"
  }
]
}
{% endschema %}

<!-- Google Code for Remarketing Tag -->

<script type="text/javascript">

/* <![CDATA[ */

var google_conversion_id = 1068818170;

var google_custom_params = window.google_tag_params;

var google_remarketing_only = true;

/* ]]> */

</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">

</script>

<noscript>

<div style="display:inline;">

<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1068818170/?value=0&amp;guid=ON&amp;script=0"/>

</div>

</noscript>