<div class="product-details" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

  	{% include 'variant-selects' %}
  
    <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
    <span id="ProductPrice" class="visually-hidden ProductPrice" itemprop="price" content="{{ current_variant.price | divided_by: 100 }}">
      {{ current_variant.price | money }}
    </span>
    <label for="quantity" class="{% if section.settings.show_quantity_selector %}quantity-selector{% else %} product-hidden {% endif %}">{{ 'products.product.quantity' | t }}</label>
  
  	{% include 'variant-qty-controls', qtyMin:1 %}

     <div role="button" tabindex="0" class="add-to-cart-btn medium-down--hide js-prod-show-available" id="AddToCartDesk" {%if sold_out %}style="display:none"{%endif%}>
      <span class="btn cart-error">{{ 'products.product.cart_add_error' | t }}</span>
      <span class="btn cart-normal">{{ 'products.product.add_to_cart' | t }}</span>
      <span class="btn cart-success">{{ 'products.product.cart_add_success' | t }} {{ 'icon-tick.svg' | asset_url | img_tag }}</span>
    </div>
 
    <button class="btn small--hide medium--hide disabled js-prod-show-soldout" disabled id="AddToCartSold" {%unless sold_out %}style="display:none"{%endunless%}>
      <span id="AddToCartTextDesk" class="js-prod-soldout-btn-text">{{ 'products.product.sold_out' | t }}</span>
    </button>
   

    {% if section.settings.show_share_buttons %}
    <div class="mobile-prod-padding">
      {% if settings.share_facebook or settings.share_twitter or settings.share_pinterest%}<h4 class="product-h4">{{ 'products.product.social_sharing' | t }}</h4>{%endif%}
      {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
    </div>
    {% endif %}
    <div class="cart-errors"></div>

    <div class="variant-pricing" style="display:none;">
      {% for variant in product.variants %}   
      <div class="tbm_variant-id-single">
        <span class="tbm_variant-id">{{ variant.id }}</span>
        <span class="tbm_variant-price">{{ variant.price | money | slice: 1, variant.price}}</span>
      </div>
      {% endfor %}
    </div>
</div>