<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="B9lAkzOyBzK5858pSU9dI6EmxEFQm-4Qj9NoYe44xUE" />
  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">  

  <!-- Typography ================================================== -->
  <link href="//fonts.googleapis.com/css?family=Playfair+Display+SC:100,400,600,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato:200,400,600,700" rel="stylesheet">   
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 

  <!-- Base CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }} 
  <!--[if IE 9 ]>
  {{ 'theme-IE.scss.css' | asset_url | stylesheet_tag }} 
  <![endif]-->

  <!-- Extension CSS ================================================== -->
  {{ 'plugins.scss.css' | asset_url | stylesheet_tag }}

  <!-- THEME JS INIT -->  
  {{ 'theme.js' | asset_url | script_tag }}
  <!--[if IE 9]>
  <script type="text/javascript">
  !function(r){function e(r,e,n,t,o,u){for(var a=0,c=0,f=(r=String(r)).length,d="",i=0;c<f;){var h=r.charCodeAt(c);for(a=(a<<o)+(h=h<256?n[h]:-1),i+=o;i>=u;){var C=a>>(i-=u);d+=t.charAt(C),a^=C<<i}++c}return!e&&i>0&&(d+=t.charAt(a<<u-i)),d}for(var n="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/",t="",o=[256],u=[256],a=0,c={encode:function(r){return r.replace(/[\u0080-\u07ff]/g,function(r){var e=r.charCodeAt(0);return String.fromCharCode(192|e>>6,128|63&e)}).replace(/[\u0800-\uffff]/g,function(r){var e=r.charCodeAt(0);return String.fromCharCode(224|e>>12,128|e>>6&63,128|63&e)})},decode:function(r){return r.replace(/[\u00e0-\u00ef][\u0080-\u00bf][\u0080-\u00bf]/g,function(r){var e=(15&r.charCodeAt(0))<<12|(63&r.charCodeAt(1))<<6|63&r.charCodeAt(2);return String.fromCharCode(e)}).replace(/[\u00c0-\u00df][\u0080-\u00bf]/g,function(r){var e=(31&r.charCodeAt(0))<<6|63&r.charCodeAt(1);return String.fromCharCode(e)})}};a<256;){var f=String.fromCharCode(a);t+=f,u[a]=a,o[a]=n.indexOf(f),++a}var d=r.base64=function(r,e,n){return e?d[r](e,n):r?null:this};d.btoa=d.encode=function(r,t){return r=!1===d.raw||d.utf8encode||t?c.encode(r):r,(r=e(r,!1,u,n,8,6))+"====".slice(r.length%4||4)},d.atob=d.decode=function(r,n){var u=(r=String(r).split("=")).length;do{r[--u]=e(r[u],!0,o,t,6,8)}while(u>0);return r=r.join(""),!1===d.raw||d.utf8decode||n?c.decode(r):r}}(jQuery);
  var btoa = function (str) {return jQuery.base64.encode(str);};
  </script>
  <![endif]-->
  <script>
    theme.Currency.moneyFormat = '{{ shop.money_format }}';
  </script>

  {{ content_for_header }}


  <!-- Header hook for plugins ================================================== -->
  {% include 'oldIE-js' %}

  {% comment %}
  If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="5eec8644-654a-40e4-afba-86dba6dd2442" type="text/javascript" async></script>



</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  {% section 'header' %}

  <div id="PageContainer" class="is-moved-by-drawer">
    <main class="wrapper main-content {%unless template == "index" or template == "collection"%}mobile-main{%endunless%} {%if template == "cart"%} {%if cart.item_count > 0 %} mobile-main-cart {%endif%} {%endif%}">
      {{ content_for_layout }}
      
    </main>
  </div>

  {% section 'footer' %}


  {% comment %}
  Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
    $(function() {
      timber.resetPasswordSuccess();
    });
    {% endif %}
    {% unless template == 'product' %}
    theme.HashScrolling();
    {% endunless %}
  </script>

  {% include 'newsletter-modal' %}

{% include 'booster-discounts' %}
</body>
</html>

